    <div class="Background-1">
        
        <div class="Header-1">
            <div class="MenuButton-1">
              <div class="MenuButton-1-1" ng-click="goToHome()">
                <span><i class="material-icons md-50">&#xE5D2;</i></span>
              </div>
            </div>

            <div class="UserLocationTitleBar-1">
              <div class="UserLocationTitleBar-1-1">
                <span><i class="material-icons md-30">&#xE55C;</i></span>
              </div>     
            </div>

            <div class="TextTitleBar-2">
              <div class="TextTitleBar-2-1">
                <span><i>Pet</i> Tention</span>
              </div>              
            </div>
        </div>


        <div class="MapHomePageArea-1">
          <div id="map_canvas" style="width:100%;height:40vh;">
            
          </div>
        </div>


        <div class="MyPetsTable-1">
            <div class="TableStyle-1">
              <table>
                  <tr>
                      <td colspan="2" class="MyPetsHeader-1">
                        <span>MY&ensp;PETS</span>
                      </td>
                      <td class="MyPetsHeader-2">
                        <span><i class="material-icons md-30" ng-click="showInfowindow(0)">&#xE147;</i></span>
                      </td>
                  </tr>
              </table>



              <!--====================Auto Run Pet Info.===================-->
              <table id="divShow" style="background-color:#ffe6ba;"> 
              </table>
              <!--====================Example of Above======================-->
                
            </div>
        </div>



           

          
    </div>