    <div class="Background-1">
        
        <div class="Header-1">
            <div class="MenuButton-1">
              <div class="MenuButton-1-1" ng-click="goToMissing()">
                <span><i class="material-icons md-70" >&#xE5CB;</i></span>
              </div>
            </div>

            <div class="TextTitleBar-3">
              <div class="TextTitleBar-3-1">
                <span>Missing Pet Tracking</span>
              </div>              
            </div>
        </div>

<div class="" style="width:100%;">
        <div class="MapHomePageArea-1">
          <div id="map_canvas" style="width:100%;height:40vh;">
            
          </div>
        </div>

        <div class="SignUpForm-1" style="height:100%">
                <br/><br/>

                <div class="SignUpForm-1-1 row">
                  <div class="col-xs-6">
                    <span style="font-size:22px;">Owner profile</span>
                  </div>
                  <div class="col-xs-5">
                    <span style="font-size:15px;">
                        <div style="width:100px;height:100px;">
                            <img src="{{userData.picture}}" class="home_user_pic" style="border-radius:50%;">
                        </div>       
                    </span>
                  </div>
                  <div class="col-xs-1">
                  </div>
                </div>

                <div class="SignUpForm-1-1 row">
                  <div class="col-xs-4">
                    <span style="font-size:15px;">Picture:</span>
                  </div>
                  <div class="col-xs-8">
                    <span style="font-size:15px;">
                      
                    </span>
                  </div>
                </div>

                <div class="SignUpForm-1-1 row">
                  <div class="col-xs-4">
                    <span style="font-size:15px;">Name:</span>
                  </div>
                  <div class="col-xs-8">
                    <span style="font-size:15px;">
                      {{userData.firstname}}&nbsp;{{userData.lastname}}
                    </span>
                  </div>
                </div>

                <div class="SignUpForm-1-1 row">
                  <div class="col-xs-4">
                    <span style="font-size:15px;">Email:</span>
                  </div>
                  <div class="col-xs-8">
                    <span style="font-size:15px;">
                        {{userData.email}}
                    </span>
                  </div>
                </div>

                <div class="SignUpForm-1-1 row">
                  <div class="col-xs-4">
                    <span style="font-size:15px;">Phone:</span>
                  </div>
                  <div class="col-xs-8">
                    <span style="font-size:15px;">
                        {{userData.phone}}
                    </span>
                  </div>
                </div>

                <div class="SignUpForm-1-1 row">
                  <div class="col-xs-4">
                    <span style="font-size:15px;">Detail:</span>
                  </div>
                  <div class="col-xs-8">
                    <span style="font-size:15px;">
                        {{userData.detail}}
                    </span>
                  </div>
                </div>

        </div>

</div>
