<div id="BodyBg-1">
    <div class="Header-2">
        <div class="TextTitleBar-4">
            <div class="TextTitleBar-4-1">
                <span><i>Pet</i> Tention</span>
            </div>
        </div>
    </div>

    <div class="Body-2">
        <div class="TextTitleBar-4">
            <div class="TextTitleBar-4-1">
                <div class="IndexButton-1-1">
                    <img id="firstPage_dog_pic" src="img/Mascot-1.png"><br /><br /><br />
                    <button type="button" id="ILoginButton" ng-click="toLogin()">Log In</button>
                    <button type="button" id="ISignUpButton" ng-click="toSignUp()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="TextTitleBar-5">
        <div class="TextTitleBar-5-1">
            <div class="IndexButton-2-1">
                <p>LOOKING FOR THE PET TRACKER APP?</p>
            </div>
        </div>
    </div>
</div>