<div id="login_page">
    <div id="login_form">
        <div class="Header-2">
            <div class="TextTitleBar-4">
                <div class="TextTitleBar-4-1">
                    <span><i>Pet</i> Tention</span>
                </div>
            </div>
        </div>
        
    	<form>
            <div class="input-group" id="input_form">
                <span class="input-group-addon" id="basic-addon1">USER</span>
                <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ng-model="data.username">
            </div>
            <div class="input-group" id="input_form">
                <span class="input-group-addon" id="basic-addon1">PASS</span>
                <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" ng-model="data.password">
            </div>
            <h3>{{data.errMsg}}</h3>
            <br />
    		<button ng-click="checkLogin()" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-ok"></span> Log In</button>
    	</form>
    </div>
</div>