<div class="Background-1">
        
        <div class="Header-1">
            <div class="MenuButton-1">
              <div class="MenuButton-1-1" ng-click="goToLogin()">
                <span style="font-size:50px;"><i class="material-icons md-70">&#xE5CB;</i></span>
              </div>
            </div>

            <div class="TextTitleBar-3">
              <div class="TextTitleBar-3-1">
                <span style="font-size:25px;">Forgot password?</span>
              </div>              
            </div>
        </div>

<div class="" style="width:100%;">
        <div class="ForgotPasswordForm-1 " style="height:100%">
                <br/><br/><br/><br/>
                <span>Enter your ID and we will show your password.</span><br/><br/>
                <div class="SignUpForm-1-1">
                  <input type="text" class="form-control" name="Username or Email" value="" placeholder="Username" style="width:80vw;height:50px;" ng-model="username">
                </div><br>
                <div class="SignUpForm-1-1">
                  <input type="text" class="form-control" name="password" value="" placeholder="Password will show here." style="width:80vw;height:50px;" ng-model="password" disabled="">
                </div><br/><br/><br/><br/><br/><br/>
                <div class="SignUpButton-1-1">
                  <button type="submit" class="" style="width:80vw;height:50px;" ng-click="getUser()">Send</button>
                </div>

        </div>
      </div>
    </div>