    <div class="Background-1">
        
        <div class="Header-1">
            <div class="MenuButton-1">
              <div class="MenuButton-1-1" ng-click="goToSelect()">
                <span><i class="material-icons md-70" >&#xE5CB;</i></span>
              </div>
            </div>

            <div class="TextTitleBar-3">
              <div class="TextTitleBar-3-1">
                <span>Pet Profile</span>
              </div>              
            </div>
        </div>

<div class="" style="width:100%;">
        <div class="SignUpForm-1" style="height:100%">
                <br/><br/>

                <div class="SignUpForm-1-1 row">
                  <div class="col-xs-6">
                    <span style="font-size:22px;">Pet profile</span>
                  </div>
                  <div class="col-xs-5">
                    <span style="font-size:15px;">
                        <div style="width:100px;height:100px;">
                            <img src="{{petData.picture}}" class="home_user_pic" style="border-radius:50%;">
                        </div>
                    </span>
                  </div>
                  <div class="col-xs-1">
                  </div>
                </div>

                <div class="SignUpForm-1-1 row">
                  <div class="col-xs-4">
                    <span style="font-size:15px;">Picture:</span>
                  </div>
                </div>

                <div class="SignUpForm-1-1 row">
                  <div class="col-xs-4">
                    <span style="font-size:15px;">Name:</span>
                  </div>
                  <div class="col-xs-8">
                    <span style="font-size:15px;">
                      {{petData.name}}
                    </span>
                  </div>
                </div>

                <div class="SignUpForm-1-1 row">
                  <div class="col-xs-4">
                    <span style="font-size:15px;">Gender:</span>
                  </div>
                  <div class="col-xs-4">
                    <span style="font-size:15px;">
                      {{petData.gender}}
                    </span>
                  </div>
                </div>

                <div class="SignUpForm-1-1 row">
                  <div class="col-xs-4">
                    <span style="font-size:15px;">Type:</span>
                  </div>
                  <div class="col-xs-8">
                    <span style="font-size:15px;">
                      {{petData.type}}
                    </span>
                  </div>
                </div>

                <div class="SignUpForm-1-1 row">
                  <div class="col-xs-4">
                    <span style="font-size:15px;">Birthdate:</span>
                  </div>
                  <div class="col-xs-8">
                    <span style="font-size:15px;">
                      {{petData.birth_date}}
                    </span>
                  </div>
                </div>

                <!--<div class="SignUpForm-1-1 row">
                  <div class="col-xs-4">
                    <span style="font-size:15px;">Age:</span>
                  </div>
                  <div class="col-xs-8">
                    <span style="font-size:15px;">
                      {{petData.age}}
                    </span>
                  </div>
                </div>-->

                <div class="SignUpForm-1-1 row">
                  <div class="col-xs-4">
                    <span style="font-size:15px;">Detail:</span>
                  </div>
                  <div class="col-xs-8">
                    <span style="font-size:15px;">
                      {{petData.detail}}
                    </span>
                  </div>
                </div>

                <div class="SignUpForm-1-1 row">
                  <div class="col-xs-4">
                    <span style="font-size:15px;">GPS Serial:</span>
                  </div>
                  <div class="col-xs-8">
                    <span style="font-size:15px;">
                      {{petData.gps_serial}} <button type="button" class="" style="height:30px;font-size:18px;color:red"  ng-click="deleteGPSSerial()">Delete GPS Serial</button>
                    </span>
                  </div>
                </div>

                <div class="SignUpForm-1-1 row">
                  <div class="col-xs-4">
                    <span style="font-size:15px;">Missing Status:</span>
                  </div>
                  <div class="col-xs-8">
                    <span style="font-size:15px;">
                      {{petData.missing_msg}} <button type="button" class="" style="height:30px;font-size:18px;color:red"  ng-click="changeMissing()">{{petData.missing_button_msg}}</button>
                    </span>
                  </div>
                </div>

                <br/>
                <div class="SignUpButton-1-1">
                  <button type="botton" class="" style="width:80vw;height:30px;font-size:18px;" ng-click="goToEdit()">Edit</button>
                </div>

        </div>
      </div>
    </div>
